@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');


$color-verde: #2ecc71;
$color-verde-oscuro: #28a85d;
$color-azul: #3498db;
$bar-w: 30px;
$bar-h: 2px;
$bar-color: #ccc;

*{
	font-family: 'Roboto', sans-serif;
  	box-sizing:border-box;
}

a:hover{
	text-decoration: none;
}

html, body{
	height: 100%;
}

.block-gray{
	width: 60%;
	height: 100%;
	background-color: #BFBDC1;
	&:after{
		content: "";
		height: auto;
		margin: 20px 20px 20px 20px;
		top: 0;
		bottom: 0;
		padding: 0;
		left: 0;
		right: 0;
		position: absolute;
		border: 1px solid #9b9d9e;
	}
}

#fcolm{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	header{
		display: flex;
		padding: 20px;
		.logo{
			width: 100px;
			margin: 10px;
		}
	}

	.seccion-nombre{
		-ms-transform: rotate(20deg); /* IE 9 */
		-webkit-transform: rotate(20deg); /* Safari 3-8 */
		transform: rotate(20deg);
		transform: rotate(-90deg);
		position: absolute;
		width: 100px;
		text-align: center;
		background: #bfbdc1;
		left: -29px;
		top: 45%;
		font-size: 12px;
		color: #49484e;
		letter-spacing: 02px;
	}

	/* Hamburger Menu */
	.McButton {
	  position: absolute;
	  top: 65px;
	  right: 45px;
	  margin-left: -($bar-w /2);
	  margin-top: -($bar-w /2);
	  width: $bar-w;
	  height: ($bar-w *3) /4;
	  cursor: pointer;
	  
	  b {
	    position: absolute;
	    left: 0;
	    width: $bar-w;
	    height: $bar-h;
	    background-color: $bar-color;
	    &:nth-child(1) {
	      top: 0;
	    }
	    &:nth-child(2) {
	      top: 50%;
	    }
	    &:nth-child(3) {
	      top: 100%;
	    }
	  }
	}

	.p-home{
		width: 300px;
		margin: 0;
		position: absolute;
		top: 30%;
		left: 15%;
		font-size: 10px;
		color: #8b888e;
		letter-spacing: 01px;
		line-height: 25px;
	}

	.menu{

	}

}